<form class="form-horizontal">
  <fieldset>
  
  <!-- Form Name -->
  <legend>Delete Civilization</legend>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="id">ID</label>  
    <div class="col-md-4">
    <input [(ngModel)]="id" id="id" name="id" type="text" placeholder="id" class="form-control input-md" required="">
      
    </div>
  </div>
  
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="del"></label>
    <div class="col-md-4">
      <button (click)="delCivs(id)" id="del" name="del" class="btn btn-primary">Delete</button>
    </div>
  </div>
  
  </fieldset>
  </form>