<app-nav></app-nav>

<div class="container col-xl-4 col-lg-6 col-md-8 col-sm-10" id="wannaCenter">
  <form class="form-horizontal">
    <h1>Delete Civilization</h1>
    <div class="form-group">
      <label class="col-md-4 control-label" for="id">ID</label>
      <input [(ngModel)]="id" id="id" name="id" type="text" placeholder="id" class="form-control input-md" required="">
    </div>
    <div class="form-group">
      <div class="col-md-4">
        <button (click)="delCivs(id)" id="del" name="del" class="btn btn-primary">Delete</button>
      </div>
    </div>

    <div *ngIf="error == 1" class="alert alert-success" role="alert">
      Civilization deleted.
    </div>
    <div *ngIf="error == 2" class="alert alert-danger" role="alert">
      That ID doesn't exist or  has already been deleted.
    </div>
    <div *ngIf="error == 3" class="alert alert-danger" role="alert">
      Enter a valid id.
    </div>

  </form>
</div>