<app-nav></app-nav>

<div class="container col-xl-4 col-lg-6 col-md-8 col-sm-10" id="wannaCenter">
  <form class="form-horizontal">
    <h1>Add Civilization</h1>
    <div class="form-group">
      <label class="col-md-4 control-label" for="name">Name</label>
      <input [(ngModel)]="civilization.name" id="name" name="name" type="text" placeholder="Enter the name" class="form-control input-md" required="">
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="expansion">Expansion</label>
      <input [(ngModel)]="civilization.expansion" id="expansion" name="expansion" type="text" placeholder="Enter the expansion" class="form-control input-md" required="">
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="army">Army</label>  
      <input [(ngModel)]="civilization.army" id="army" name="army" type="text" placeholder="Enter the army" class="form-control input-md" required="">
    </div>
    <div class="form-group">
      <button (click)="postCivs(civilization)" id="send" name="send" class="btn btn-dark">Enviar</button>
    </div>

    <div *ngIf="error == 1" class="alert alert-success" role="alert">
      Civilization added.
    </div>
    <div *ngIf="error == 2" class="alert alert-success" role="alert">
      ERROR
    </div>

  </form>
</div>