<app-nav></app-nav>
<form class="form-horizontal">
  <fieldset>
  
  <!-- Form Name -->
  <legend>Add Civilization</legend>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="name">Name</label>  
    <div class="col-md-4">
    <input [(ngModel)]="civilization.name" id="name" name="name" type="text" placeholder="name" class="form-control input-md" required="">
      
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="expansion">Expansion</label>  
    <div class="col-md-4">
    <input [(ngModel)]="civilization.expansion" id="expansion" name="expansion" type="text" placeholder="expansion" class="form-control input-md" required="">
      
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="army">Army</label>  
    <div class="col-md-4">
    <input [(ngModel)]="civilization.army" id="army" name="army" type="text" placeholder="army" class="form-control input-md" required="">
      
    </div>
  </div>
  
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="send"></label>
    <div class="col-md-4">
      <button (click)="postCivs(civilization)" id="send" name="send" class="btn btn-primary">Enviar</button>
    </div>
  </div>
  <div *ngIf="error == 1" class="alert alert-success" role="alert">
    Civilization added.
  </div>
  <div *ngIf="error == 2" class="alert alert-success" role="alert">
    ERROR
  </div>
  
  </fieldset>
  </form>