<app-nav></app-nav>

<div *ngIf="error == 1" class="alert alert-success" role="alert">
  Civilization modified.
</div>
<div *ngIf="error == 2" class="alert alert-danger" role="alert">
  ERROR.
</div>
<div class="container" style="padding-top: 2%; text-align: center">
  <h1>Civilizations</h1>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Expansion</th>
            <th scope="col">Army</th>
          </tr>
        </thead>
        <tbody>
          <tr id="row" (click)="sendIdToMod(civilization)" *ngFor="let civilization of civilizations | filter:filterPost">
            <td>{{civilization.name}}</td>
            <td>{{civilization.expansion}}</td>
            <td>{{civilization.army}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>