<app-nav></app-nav>

<div *ngIf="error == 1" class="alert alert-success text-center" role="alert">
  Civilization modified.
</div>
<div *ngIf="error == 2" class="alert alert-danger text-center" role="alert">
  ERROR.
</div>

<div *ngIf="errorD == 'notdeleted'" class="alert alert-danger text-center" role="alert">
  Something gone wrong.
</div>

<div class="container" style="padding-top: 2%; text-align: center">
  <h1>Civilizations</h1>
  <div class="row">
    <div class="col">
      <div class="form-group" style="text-align: center; margin: 0 auto;">
        <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Expansion</th>
            <th scope="col">Army</th>
            <th scope="col"><i class="fa fa-trash text-danger" style="font-size: 1.8em; visibility:hidden;"></i></th>
          </tr>
        </thead>
        <tbody *ngFor="let civilization of civilizations | filter:filterPost">
          <tr id="row">
            <td  (mouseover)="show = true" (mouseout)="show = false" (click)="sendIdToMod(civilization)">{{civilization.name}}</td>
            <td  (mouseover)="show = true" (mouseout)="show = false" (click)="sendIdToMod(civilization)">{{civilization.expansion}}</td>
            <td  (mouseover)="show = true" (mouseout)="show = false" (click)="sendIdToMod(civilization)">{{civilization.army}}</td>
            <td id="delete" style="border-top: 0;">
                <i data-toggle="modal" (click)="saveId = civilization._id" data-target="#deleteConfirmation" class="fa fa-trash text-danger" style="font-size: 1.8em; margin-top: 5%;"></i>
            </td>

              <!--Delete Confirmation-->
            <div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content text-center">
                  <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Delete Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure mate? Are you okay? Life isn't a game.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button (click)="delCivs()" type="button" data-dismiss="modal" class="btn btn-danger">Delete</button>
                  </div>
                </div>
              </div>
            </div>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>