<app-nav></app-nav>

<div class="container col-xl-4 col-lg-6 col-md-8 col-sm-10" id="wannaCenter">
  <form class="form-horizontal">
    <h1>Change your password</h1>
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">Email address</label>
      <input [(ngModel)]="email" name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="password">Password</label>
      <input [(ngModel)]="password" name="password" type="password" class="form-control" id="password" placeholder="Enter your password">
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="newPassword">New Password</label>
      <input [(ngModel)]="newPassword" name="newPassword" type="password" class="form-control" id="newPassword" placeholder="Enter the new password">
    </div>
    <div class="form-group">
      <button (click)="changePass(email, password, newPassword)" name="changePass" id="changePass" class="btn btn-dark">Change</button>
    </div>

    <div *ngIf="error == 1" class="alert alert-success" role="alert">
      Password changed.
    </div>
    <div *ngIf="error == 2" class="alert alert-danger" role="alert">
      ERROR.
    </div>

  </form>
</div>

<div class="container col-xl-4 col-lg-6 col-md-8 col-sm-10" id="wannaCenter" style="margin-top: 3%;">
  <form class="form-horizontal">
    <h1>Change your username</h1>
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">Email address</label>
      <input [(ngModel)]="name" name="name" type="text" class="form-control" id="email" aria-describedby="nameHelp" placeholder="Enter your new username">
    </div>
    <div class="form-group">
      <button (click)="changeName(name)" name="changeName" id="changeName" class="btn btn-dark">Change</button>
    </div>

    <div *ngIf="error == 3" class="alert alert-success" role="alert">
      Name changed.
    </div>
    <div *ngIf="error == 4" class="alert alert-danger" role="alert">
      ERROR.
    </div>

  </form>
</div>